

.segment_wrapper{
    position: relative;
    border-top: 0.06em solid rgba(255, 254, 254, .5);
    border-left: 0.06em solid rgba(255, 254, 254, .5);
    border-right: 0.06em solid rgba(255, 254, 254, .1);
    border-bottom: 0.06em solid rgba(255, 254, 254, .3);
    display: table-cell;
    padding: .6em;
    border-radius: 1em;
    box-shadow: 
                .3em .3em 1em rgba(0, 0, 0, .7),
                inset .2em .2em .5em rgba(255, 255, 255, .3),
                inset -.2em -.2em .5em rgba(0, 0, 0, 1);
    background: #000000;
    

}

.MatrixSegment{
    position: relative;
    margin:0;

      
}
