

.segment_wrapper{
    border: 1px solid rgba(255, 255, 255, 0.457);
    display: table-cell;
    padding: .8rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    background: #000;  

}

.MatrixSegment{
    position: relative;
    margin: 0;
      
}

.segment_wrapper:hover {
    box-shadow: 0 0 10px #ff0;
}